<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>Dashboard</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

<div class="flex">
  <aside class="h-screen sticky top-0 w-1/6">

  <nav class="flex-row h-screen w-full bg-green-500">
    <!-- Navbar -->

    <div>
      <a href="/"
         class="hover:bg-green-400 block px-6 py-16 font-bold text-4xl text-white">Dashboard</a>
    </div>

    <div>
      <a href="#" class="hover:bg-green-400 block px-6 py-8 font-bold text-4xl text-white">Booking
        Overview</a>
    </div>

    <div>
      <a href="#" class="hover:bg-green-400 block px-6 py-8 font-bold text-4xl text-white">Customer
        Overview</a>
    </div>

    <div>
      <a href="#" class="hover:bg-green-400 block px-6 py-8 font-bold text-4xl text-white">Room Overview</a>
    </div>

    <div>
      <a href="#" class="hover:bg-green-400 block px-6 py-8 font-bold text-4xl text-white">.<br>.<br>.</a>
    </div>

  </nav>
  </aside>

  <div class="flex w-full"> <!-- Content -->

    <div class="w-full bg-white m-40 p-16 rounded border border-gray-400">

      <form th:action="@{/extraService}" th:object="${bookingForm}"  method="post">

        <input type="hidden" id="fname" name="fname" th:field="${customerForm.fname}"/>
        <input type="hidden" id="lname" name="lname" th:field="${customerForm.lname}"/>
        <input type="hidden" id="voucher" name="voucher" th:field="${bookingForm.voucherCode}"/>
        <input type="hidden" id="streetAdr" name="streetAdr" th:field="${customerForm.streetAdr}"/>
        <input type="hidden" id="zip" name="zip" th:field="${customerForm.zip}"/>
        <input type="hidden" id="city" name="city" th:field="${customerForm.city}"/>
        <input type="hidden" id="country" name="country" th:field="${customerForm.country}"/>
        <input type="hidden" id="phone" name="phone" th:field="${customerForm.phoneNumber}"/>
        <input type="hidden" id="email" name="email" th:field="${customerForm.email}"/>

        <div class="p-4 border border-gray-300"> <!-- Logical Block -->

          <h2 class="mb-6 text-xl font-semibold">Category Selection</h2>  <!-- Block Description -->

          <div class="flex"> <!-- Form Line -->

            <div class="w-1/3">
              <h2 class="mb-2 font-semibold">Single </h2>
              <input type="number" id="single" min="0" class="border-2 border-gray-400 w-16" th:field="*{singleRoomCount}">
              <label for="single" class="mt-2 block text-sm text-gray-500">Room Count</label>
              <div class="flex rounded content-start mt-1 w-4/6 p-1 text-xs text-gray-600 bg-red-200 border-red-200 border" th:if="${#fields.hasErrors('singleRoomCount')}">
                <svg xmlns="http://www.w3.org/2000/svg" class="pr-1" width="18" height="18" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <div  th:errors="*{singleRoomCount}"></div>
              </div>
            </div>

            <div class="w-1/3">
              <h2 class="mb-2 font-semibold">Double</h2>
              <input type="number" id="double" min="0" class="border-2 border-gray-400 w-16" th:field="*{doubleRoomCount}">
              <label for="double" class="mt-2 block text-sm text-gray-500">Room Count</label>
              <div class="flex rounded content-start mt-1 w-4/6 p-1 text-xs text-gray-600 bg-red-200 border-red-200 border" th:if="${#fields.hasErrors('doubleRoomCount')}">
                <svg xmlns="http://www.w3.org/2000/svg" class="pr-1" width="18" height="18" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <div  th:errors="*{doubleRoomCount}"></div>
              </div>
            </div>

            <div class="w-1/3">
              <h2 class="mb-2 font-semibold">Luxus</h2>
              <input type="number" id="luxus" min="0" class="border-2 border-gray-400 w-16" th:field="*{luxusRoomCount}">
              <label for="luxus" class="mt-2 block text-sm text-gray-500">Room Count</label>
              <div class="flex rounded content-start mt-1 w-4/6 p-1 text-xs text-gray-600 bg-red-200 border-red-200 border" th:if="${#fields.hasErrors('luxusRoomCount')}">
                <svg xmlns="http://www.w3.org/2000/svg" class="pr-1" width="18" height="18" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <div  th:errors="*{luxusRoomCount}"></div>
              </div>
            </div>

          </div>

        </div>

        <div class="p-4 mt-12 border border-gray-300">   <!-- Logical Block -->

          <h2 class="mb-6 text-xl font-semibold">Stay Duration</h2>

          <div class="flex row"> <!-- Form Line -->

          <div class="w-1/2">
            <input type="date" id="checkInDate" class="p-2 border-2 border-gray-400 mb-2" th:field="*{checkInDate}">
            <label for="checkInDate" class="block text-sm text-gray-500">Check-In Date</label>
            <div class="flex rounded content-start mt-1 w-4/6 p-1 text-xs text-gray-600 bg-red-200 border-red-200 border" th:if="${#fields.hasErrors('checkInDate')}">
              <svg xmlns="http://www.w3.org/2000/svg" class="pr-1" width="18" height="18" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <div  th:errors="*{checkInDate}"></div>
            </div>
          </div>

          <div class="w-1/2">
            <input type="date" id="checkOutDate" class="p-2 border-2 border-gray-400 mb-2" th:field="*{checkOutDate}">
            <label for="checkOutDate" class="block text-sm text-gray-500">Check-Out Date</label>
            <div class="flex rounded content-start mt-1 w-4/6 p-1 text-xs text-gray-600 bg-red-200 border-red-200 border" th:if="${#fields.hasErrors('checkOutDate')}">
              <svg xmlns="http://www.w3.org/2000/svg" class="pr-1" width="18" height="18" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <div  th:errors="*{checkOutDate}"></div>
            </div>
          </div>

          </div>

        </div>

        <div class="mt-8 flex row justify-between"> <!-- Button Line -->

          <div class="w-5/6">
            <a href="createCustomer" class="w-1/5 p-2 rounded-lg border-2 border-opacity-75 border-blue-50 text-center bg-blue-300 hover:bg-blue-400 focus:bg-blue-500 text-2xl text-black">back</a>
          </div>

          <div class="w-1/6">
            <button type="submit" class="w-full p-2 rounded-lg border-2 border-opacity-75 border-blue-50 text-center bg-blue-300 hover:bg-blue-400 focus:bg-blue-500 text-2xl text-black">next</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
</div>
</body>

</html>