<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="flex"> <!-- Content -->
    <aside class="h-screen sticky top-0 w-1/6">

        <nav class="flex-row h-screen w-full bg-green-500">
            <!-- Navbar -->

            <div>
                <a href="/" class="hover:bg-green-400 block px-6 py-16 font-bold text-4xl text-white">Dashboard</a>
            </div>

            <div>
                <a href="bookingOverview" class="hover:bg-green-400 block px-6 py-8 font-bold text-4xl text-white">BookingComponent Overview</a>
            </div>

            <div>
                <a href="#" class="hover:bg-green-400 block px-6 py-8 font-bold text-4xl text-white">Guest Overview</a>
            </div>

            <div>
                <a href="roomOverview" class="hover:bg-green-400 block px-6 py-8 font-bold text-4xl text-white">Room Overview</a>
            </div>


        </nav>
    </aside>

    <div class="flex w-full">

        <div class="w-full bg-white m-40 p-16 rounded border border-gray-400">

            <h1 class="text-3xl mb-4 font-semibold">BookingComponent Summary</h1>

            <form th:action="@{confirmBooking}" th:object="${booking}"  method="post" >
                      <div th:object="${guest}">
                        <input type="hidden" id="id" name="id" th:field="${booking.bookingId.bookingId}"/>

                        <div class="p-4 mb-2 border border-gray-300"> <!-- Logical Block -->

                            <h2 class="mb-4 font-semibold">Group/Company</h2>  <!-- Block Description -->

                            <div class="flex row"> <!-- Form Line -->

                                <div class="w-1/2 ">
                                   <span th:switch="${guest.guestType}">
                                        <span th:case="${T(at.fhv.hotelsoftware.domain.model.valueobjects.GuestType).REGULAR}"><br></span>
                                        <span th:case="${T(at.fhv.hotelsoftware.domain.model.valueobjects.GuestType).TRAVEL_AGENCY}"><span th:text="${guest.agencyName}"></span></span>
                                        <span th:case="${T(at.fhv.hotelsoftware.domain.model.valueobjects.GuestType).COMPANY}"><span th:text="${guest.companyName}"></span> </span>
                                    </span>
                                    <label class="block text-sm text-gray-500">Name</label>
                                </div>

                                <div class="w-1/2">
                                    <input readonly type="text" id="voucher" class="w-2/6"
                                           th:value="${booking.voucherCode.voucherCode}">
                                    <label for="voucher" class=" block text-sm text-gray-500">Voucher Code</label>
                                </div>

                            </div>

                        </div>

                        <div class="p-4 mb-2 border border-gray-300"> <!-- Logical Block -->

                            <h2 class="mb-4 font-semibold">Full Name</h2>  <!-- Block Description -->

                            <div class="flex row"> <!-- Form Line -->

                                <div class="w-1/2 ">
                                    <input readonly type="text" id="firstName" class="w-4/6"
                                           th:value="${guest.firstName}">
                                    <label for="firstName" class="block text-sm text-gray-500">First Name</label>
                                </div>

                                <div class="w-1/2">
                                    <input readonly type="text" id="lastName" class="w-4/6"
                                           th:value="${guest.lastName}">
                                    <label for="lastName" class=" block text-sm text-gray-500">Last Name</label>
                                </div>

                            </div>

                        </div>

                        <div class="p-4 mb-2 border border-gray-300"> <!-- Logical Block -->

                            <h2 class="mb-4 font-semibold">Address</h2>  <!-- Block Description -->

                            <div class="flex row"> <!-- Form Line -->

                                <div class="w-1/2 ">
                                    <input readonly type="text" id="streetAdr" class="w-4/6"
                                           th:value="${guest.streetAddress}">
                                    <label for="streetAdr" class="block text-sm text-gray-500">Street Address</label>
                                </div>

                                <div class="w-1/2">
                                    <input readonly type="text" id="zip" class="w-2/6"
                                           th:value="${guest.zip}">
                                    <label for="zip" class=" block text-sm text-gray-500">ZIP Code</label>
                                </div>

                            </div>

                            <div class="mt-4 flex row"> <!-- Form Line -->

                                <div class="w-1/2 ">
                                    <input readonly type="text" id="city" class="w-4/6"
                                           th:value="${guest.city}">
                                    <label for="city" class="block text-sm text-gray-500">City</label>
                                </div>

                                <div class="w-1/2">
                                    <input readonly type="text" id="country" class="w-4/6"
                                           th:value="${guest.country}">
                                    <label for="country" class=" block text-sm text-gray-500">Country</label>
                                </div>

                            </div>

                        </div>

                        <div class="p-4 border border-gray-300"> <!-- Logical Block -->

                            <div class="flex-row">  <!-- Block Descriptions -->

                                <div class="w-3/6 inline-block">
                                    <h2 class="mb-4 font-semibold">Phone Number</h2>
                                </div>

                                <div class="w-1/3 inline-block">
                                    <h2 class="mb-4 font-semibold">Email</h2>
                                </div>

                            </div>

                            <div class="flex row"> <!-- Form Line -->

                                <div class="w-1/2">
                                    <input readonly type="text" id="phone" class="w-4/6"
                                           th:value="${guest.phoneNumber}">
                                    <label for="phone" class="block text-sm text-gray-500">Number</label>
                                </div>

                                <div class="w-1/2">
                                    <input readonly type="text" id="email" class="w-4/6"
                                           th:value="${guest.email}">
                                    <label for="email" class=" block text-sm text-gray-500">Email</label>
                                </div>

                            </div>

                        </div>


                        <div class="p-4 mt-2 border border-gray-300"> <!-- Logical Block -->

                            <h2 class="mb-4 font-semibold">Category Selection</h2>  <!-- Block Description -->

                            <div class="flex"> <!-- Form Line -->

                                <div class="w-1/3">
                                    <h2 class="font-semibold">Single</h2>
                                    <input readonly id="single" class="w-16"
                                           th:value="${booking.singleRoom}">
                                    <label for="single" class="block text-sm text-gray-500">Room Count</label>
                                </div>

                                <div class="w-1/3">
                                    <h2 class="font-semibold">Double</h2>
                                    <input readonly id="double" class="w-16"
                                           th:value="${booking.doubleRoom}">
                                    <label for="double" class="block text-sm text-gray-500">Room Count</label>
                                </div>

                                <div class="w-1/3">
                                    <h2 class="font-semibold">Superior</h2>
                                    <input readonly id="superior" class="w-16"
                                           th:value="${booking.superiorRoom}">
                                    <label for="superior" class="block text-sm text-gray-500">Room Count</label>
                                </div>

                            </div>

                        </div>

                        <div class="p-4 mt-2 border border-gray-300">   <!-- Logical Block -->

                            <h2 class="mb-4 font-semibold">Stay Duration</h2>

                            <div class="flex row"> <!-- Form Line -->

                                <div class="w-1/2">
                                    <input readonly id="fromDate"
                                           th:value="${booking.checkInDate}">
                                    <label for="fromDate" class="block text-sm text-gray-500">Check-In Date</label>
                                </div>

                                <div class="w-1/2">
                                    <input readonly id="toDate"
                                           th:value="${booking.checkOutDate}">
                                    <label for="toDate" class="block text-sm text-gray-500">Check-Out Date</label>
                                </div>

                            </div>

                        </div>



                        <div class="mt-4 flex row justify-between"> <!-- Button Line -->

                            <div class="w-2/6">
                                <a href="bookingOverview.html" class="block w-3/5 p-1 rounded-lg border-2 border-opacity-75 border-blue-50 text-center bg-blue-300 hover:bg-blue-400 focus:bg-blue-500 text-xl text-black">Back</a>
                            </div>

                            <div class="w-2/6 text-right">
                                <button type="submit" class="w-3/5 p-1 rounded-lg border-2 border-opacity-75 border-blue-50 text-center bg-blue-300 hover:bg-blue-400 focus:bg-blue-500 text-xl text-black">Confirm</button>
                            </div>

                        </div>
                    </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>