<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="flex"> <!-- Content -->
  <aside class="h-screen sticky top-0 w-1/6">

    <nav class="flex-row h-screen w-full bg-green-500">
      <!-- Navbar -->

      <div>
        <a href="/" class="hover:bg-green-400 block px-6 py-16 font-bold text-4xl text-white">Dashboard</a>
      </div>

      <div>
        <a href="bookingOverview" class="hover:bg-green-400 block px-6 py-8 font-bold text-4xl text-white">Booking Overview</a>
      </div>

      <div>
        <a href="roomOverview" class="hover:bg-green-400 block px-6 py-8 font-bold text-4xl text-white">Room Overview</a>
      </div>

    </nav>
  </aside>

  <div class="flex w-full">
    <div class="w-full bg-white m-40 p-16 rounded border border-gray-400">
      <div class="flex-row w-full">
        <div class="mb-6 w-full text-2xl text-center">ERROR</div>
        <div class="pb-18 text-1xl text-center" th:text="${errorMessage}"></div>
        <img class="mx-auto" src="../static/images/error_smiley.jpg" th:src="@{images/error_smiley.jpg}"/>
      </div>
    </div>
  </div>
</div>

</body>
</html>