<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Extra Services</title>
</head>
<body>
<h1>Extra Services in progress :)</h1>

<form th:action="@{/bookingSummary}" th:object="${bookingForm}" method="post">

    <input type="hidden" id="fname" name="fname" th:field="*{fname}"/>
    <input type="hidden" id="lname" name="lname" th:field="*{lname}"/>
    <input type="hidden" id="voucher" name="voucher" th:field="*{voucherCode}"/>
    <input type="hidden" id="streetAdr" name="streetAdr" th:field="*{streetAdr}"/>
    <input type="hidden" id="zip" name="zip" th:field="*{zip}"/>
    <input type="hidden" id="city" name="city" th:field="*{city}"/>
    <input type="hidden" id="country" name="country" th:field="*{country}"/>
    <input type="hidden" id="phone" name="phone" th:field="*{phoneNumber}"/>
    <input type="hidden" id="email" name="email" th:field="*{email}"/>
    <input type="hidden" id="single" name="single" th:field="*{singleRoomCount}"/>
    <input type="hidden" id="double" name="double" th:field="*{doubleRoomCount}"/>
    <input type="hidden" id="luxus" name="luxus" th:field="*{luxusRoomCount}"/>
    <input type="hidden" id="fromDate" name="fromDate" th:field="*{fromDate}"/>
    <input type="hidden" id="toDate" name="toDate" th:field="*{toDate}"/>

    <div class="mt-4 flex row justify-between"> <!-- Button Line -->

        <div class="w-1/6">
            <button type="submit" class="w-full p-1 rounded-lg border-2 border-opacity-75 border-blue-50 text-center bg-blue-300 hover:bg-blue-400 focus:bg-blue-500 text-2xl text-black">next</button>
        </div>

    </div>
</form>
</body>
</html>